# python
__pycache__/
*.pyc
*.pyo
*.pyd

# pytest
.pytest_cache/

# venv
venv/
.env

# build
dist/
build/

# IDE
.vscode/
.idea/

# logs
logs/

# output
JPK/
*.xml
*.html

# OS
Thumbs.db
.DS_Store

*.egg-info/